*{
    margin: 0;
    padding: 0;
}
html, body{
    overflow-x: hidden;
}
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.logo{
    margin-top: 10px;
    width: 250px;
}
header{
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 1px 5px black;
    margin: 0;
    width: 100%;

}
nav ul{
      display: flex;
      gap: 70px;
      list-style-type: none;
      
      
}
nav ul li a{
            text-decoration: none;
            color: black;
}
.icones{
      display: flex;
      gap: 20px;
      align-items: center;
}
.icones i{
      font-size: 20px;
      cursor: pointer;
}
.icones button{
         padding: 10px 20px;
         background-color: green;
         color: white;
         border: none;
         border-radius: 5px;
          cursor: pointer; /* il permet de mettre un pointeur sur l'element */
}
.hero div h1{
    color: green;
    font-size: 50px;

}
.hero div h2{
          font-size: 30px;

}
.hero div button{
          padding: 10px 20px;
          background-color: green;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
}
.hero{
 
    margin: 50px auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agro{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    
}
.agro div{
       box-shadow: 5px 5px 10px black;
       border-radius: 20px;
}
.un{
    width: 20%;
}
.deux{
    width: 70%;
}
.agro div img{
    border-radius: 20px 20px 0 0;
}
.produits1 {
       display: flex;
       justify-content: space-around;
       background-color: rgb(236, 236, 236);
       padding: 20px;
}
.produits1 div{
    width: 200px; 
    padding-top: 5px;
    /* padding: 0px; */
    display: flex;
    flex-direction: column; 
    justify-content:center;
     align-items: center;  
    border-radius: 15px;
    background-color: rgb(243, 243, 241);
    box-shadow: 2px 1px 10px 0px;    
}
.produits1 input{
          border: none;
          background-color: rgb(248, 240, 240);

}
.produits1 div img{
    background-color: black;
}
.produits1 button{
          width: 100%;
          height: 30px;
          background-color: green;
          color: white;
          border: none;
          cursor: pointer;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;

}
span{
    color: green;
}
h3{
    padding-top: 20px;
    text-align: center;
    color: green;
}
.prdt{
    background-color: white;
}
#section{
    background-color: rgb(236, 236, 236);
    box-shadow: -5px 0px 0px 0px ;
}

.produits2 {
       display: flex;
       justify-content: space-around;
       background-color: rgb(236, 236, 236);
       padding: 20px;
}
.produits1 h5 {
    color: black;
}

.produits2 div{
    width: 200px; 
    padding: 0px;
    padding-top: 5px;
    display: flex;
    flex-direction: column; 
    justify-content:center;
     align-items: center;  
    border-radius: 15px;
    background-color: rgb(243, 243, 241);
    box-shadow: 2px 1px 10px 0px;    
}
.produits2 h5 {
    color: black;
}
.produits2 input{
          border: none;
          background-color: rgb(248, 240, 240);

}
.produits2 div img{
    background-color: white;
}
.produits2 button{
          width: 100%;
          height: 30px;
          background-color: green;
          color: white;
          border: none;
          cursor: pointer;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
}
span{
    color: green;
}
#temoie{
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 1px;
}

.temoignages  h5,  p {
    text-align: center;
    color:white;
    
}
.temoignages{
           display: flex;
           align-items: center;
           justify-content: center;
           gap: 10px;
           padding: 10px;
}

.temoignages div{
            width: 200px; 
            padding: 5px;
            display: flex;
            flex-direction: column; 
            justify-content:center;
            align-items: center;  
            border-radius: 5px;
            background-color: rgb(26, 177, 57);      
}
h2 , p{
    text-align: center;
    color: black;
}
.section4{
       display: flex;
       justify-content: space-around;
         background-color: rgb(224, 223, 223);
         padding: 80px;
      
}
.section4 div{
    margin-left: 100px;
    display: flex;
    flex-direction: column; 
    gap: 50px;
    align-items: center;
    justify-content: space-around;
  
}
.email{
    padding: 70px;
    background-color: black;
}
.email div{
    display: flex;
      align-items: center;
      justify-content: center;
     
}
.email input{
    width: 400px;
    padding: 5px;
}
.email button{
    width: 100px ;
    padding: 8px;
   background-color: green;
   border: none;
   color: white;
   border-radius: 15px;
   cursor: pointer;
}
#services{
    padding: 15px;
    background-color: gainsboro;
}
.srvic{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
     padding: 10px;
}
.srvic div{
    width: 200px; 
    padding: 5px;
    display: flex;
    flex-direction: column; 
    justify-content:center;
    align-items: center;  
    border-radius: 5px;
    background-color: white;   
}
.srvic div , h5{
   color: green;
}
.contact{
    padding: 15px;
    background-image:url(img/Actualite/16_1_small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact div{
    display: flex;
      align-items: center;
      justify-content: center; 
}
.contact input{
    width: 400px;
    padding: 5px;
}
.contact button{
    width: 100px ;
    padding: 8px;
   background-color: green;
   border: none;
   color: white;
   border-radius: 15px;
   cursor: pointer;
}
.contact h4{
    color: white;
}
.contact p{
    color: white;
}
.contact h3{
    color: white;
}
#footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
#footer div{
         width: 200px; 
         gap: 0;
         padding: 5px;
         display: flex;
         flex-direction: column; 
         justify-content:center;
         align-items:center; 
         justify-content: space-between;   
      
}
#date{
    margin: 0;
    padding-bottom: 2px;
    background-color: white;
    color: black;
}
/* la partie responsive */
 
 @media  ( max-width: 900px){
    .logo {
    width: 90px; 
    margin-bottom: 20px;
    margin-top: 20px;
}

    header {
        width: 100%;
        display: flex;
        gap: 5px;
    }

    nav ul li{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-top: 15px;
    } 

    .hero div img{
        width: 50%;
    }
     .hero div h1 {
            font-size: 20px;
            margin-left: 10px;
            color: green;
   }
   .hero div h2 {
            font-size: 20px;
            margin-left: 0px;
   }
   .agro {
    display: flex;
    flex-direction: column;
     width: 100%;
   }
    .agro .un {
         width:100%;
    } 

   .un img{
    display: flex;
    margin: 20px;
    flex-direction: column;
    width: 50%;
   }
   .agro .deux {
         width:100%;
    } 
    .section4 {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: 10px;
        border-radius: 5px;
    
    }
    .email{
    width: 70%;
    margin: 10px;
    border-radius: 5px;
  
    }
}
@media (max-width: 768px){
    

    header{
          width: 93%;
          padding: 10px;
    }
   header div{
           flex-direction: row;   
           font-size: 20px;
   }
    header div img{
           flex-direction: row;   
           font-size: 100x;
   }
   .icones {
        display: flex;
        gap: 30px;
        padding-top: 20px;
        flex-direction:column ;
        font-size: 10px;
        padding-right: 20px;
        margin-left: 10px;
        width: 30%;
   }
   
   nav ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
        list-style-type: none;
        margin-left: 40px;
      
}
   nav ul li {
            display: flex;
            flex-direction:row ;
   }
   .hero{
        display: flex;
        flex-direction:column ;
        font-size: 10px;
        width: 100%;
   }
   .hero div h1 {
            font-size: 13px;
            margin-left: 0px;
            color: green;
   }
   .hero div h2 {
            font-size: 10px;
            margin-left: 0px;
   }
   
   .hero div img{
             width: 100%;
             margin: 10px;
   }
   .hero div button{
              font-size: 20px;
              margin-bottom: 10px;
              margin-top: 15px;
              width: 100%;
     } 
   .agro {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
   }
   
   .agro .un {
         width:95%;
        
        
    } 

   .un img{
        display: flex;
        margin: 20px;
        flex-direction: column;
        width: 80%;
        margin-left: 50px;
   }
   .agro .deux {
         width:95%;
    } 
   .deux h1{
        margin-top: 10px;
        text-align: center;
        font-size: 20px;
   }
   .deux p{
        margin-top: 20px;
        margin-left: 20px;
   }
   .deux img{
        margin-left: 50px;
        width: 50%;
   }

   #section{
        width: 100%;
        margin-top: 10px;
        border-radius: 5px 5px;
    
}
#section h3{
    font-size: 30px
}
   .produits1 div{
            width: 95%;
            margin-left: 10px;
            padding-left:  0px;
            margin: 10px;
   }
   .produits1{
            display: flex;
            flex-direction: column;
            padding: 0px;
   }
   .produits1 div button{
    margin-left: 0px;
   }
   .produits1 div input{
            text-align: center;
            width: 80%;
   }

   .produits2{
            display: flex;
            flex-direction: column;
            padding: 0px;
   }
   .produits2 div{
            width: 95%;
            margin-left: 10px;
            padding-left: 0px;
            margin: 10px;
   }
    .produits2 div button{
                margin-left: 0px;
   }
   .produits2 div input{
    text-align: center;
    width: 80%;
   }
    #temoie {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 0px;
       
    }
    #temoie h2{
            font-size: 25px;
    }
    #temoie div h4 {
       margin-left: 70px;
    }
    .temoignages{
            display: flex;
            flex-direction: column;
    }
    .temoignages div {
             width: 100%;
    }
    .temoignages div p{
         width: 40%;
    }

    .section4 {
            display: flex;
            flex-direction: column;
            width: 85%;
            margin-left: 5px;
            border-radius: 5px;
    
    }
   .section4 div{
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-left: 0px;
    
   }
   .section4 div img ,p{
    width: 90%;
   
   }
   .email{
        width: 63%;
        margin: 10px;
        border-radius: 5px;
  
    }
   .email div, input{
    width: 70%;
      margin-left: 1px;
   }
   .email div, button{
            width: 100%;
            margin-left: 5px;
   }
   #services{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 4px;
        border-radius: 5px;
   
   }
   #sevices, h3{
        width: 100%;
   }
   .srvic div{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 0px;
    }
   .contact{
        width:90%;
        margin-left: 5px;
        border-radius: 5px;
   }
   .contact div{
        width: 100%;
   }
   .contact h3{
            width: 90%;
            color: black;
   }
       
   .contact h3{
        margin-left: 30px;
   } 
    #footer{
        display: flex;
        flex-direction: column;    
   }
    #footer, p{
            width: 90%;
    }
      #footer div{
             width: 100%;
    }
}  