body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo{
    margin-top: 10px;
    width: 250px;
}
header{
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 1px 5px black;
    margin: 0;

}
nav ul{
      display: flex;
      gap: 70px;
      list-style-type: none;
      
      
}
nav ul li a{
            text-decoration: none;
            color: black;
}
.icones{
      display: flex;
      gap: 20px;
      align-items: center;
}
.icones i{
      font-size: 20px;
      cursor: pointer;
}
.icones button{
         padding: 10px 20px;
         background-color: green;
         color: white;
         border: none;
         border-radius: 5px;
          cursor: pointer; /* il permet de mettre un pointeur sur l'element */
}
.hero div h1{
    color: green;
    font-size: 50px;

}
.hero div h2{
          font-size: 30px;

}
.hero div button{
          padding: 10px 20px;
          background-color: green;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
}
.hero{
 
    margin: 50px auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agro{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    
}
.agro div{
       box-shadow: 5px 5px 10px black;
       border-radius: 20px;
}
.un{
    width: 20%;
}
.deux{
    width: 70%;
}
.agro div img{
    border-radius: 20px 20px 0 0;
}
.produits1 {
       display: flex;
       justify-content: space-around;
       background-color: rgb(236, 236, 236);
       padding: 20px;
}
.produits1 div{
    width: 200px; 
    padding-top: 5px;
    /* padding: 0px; */
    display: flex;
    flex-direction: column; 
    justify-content:center;
     align-items: center;  
    border-radius: 15px;
    background-color: rgb(243, 243, 241);
    box-shadow: 2px 1px 10px 0px;    
}
.produits1 input{
          border: none;
          background-color: rgb(248, 240, 240);

}
.produits1 div img{
    background-color: black;
}
.produits1 button{
          width: 100%;
          height: 30px;
          background-color: green;
          color: white;
          border: none;
          cursor: pointer;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;

}
span{
    color: green;
}
h3{
    padding-top: 20px;
    text-align: center;
    color: green;
}
.prdt{
    background-color: white;
}
#section{
    background-color: rgb(236, 236, 236);
    box-shadow: -5px 0px 0px 0px ;
}

.produits2 {
       display: flex;
       justify-content: space-around;
       background-color: rgb(236, 236, 236);
       padding: 20px;
}
.produits1 h5 {
    color: black;
}

.produits2 div{
    width: 200px; 
    padding: 0px;
    padding-top: 5px;
    display: flex;
    flex-direction: column; 
    justify-content:center;
     align-items: center;  
    border-radius: 15px;
    background-color: rgb(243, 243, 241);
    box-shadow: 2px 1px 10px 0px;    
}
.produits2 h5 {
    color: black;
}
.produits2 input{
          border: none;
          background-color: rgb(248, 240, 240);

}
.produits2 div img{
    background-color: white;
}
.produits2 button{
          width: 100%;
          height: 30px;
          background-color: green;
          color: white;
          border: none;
          cursor: pointer;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
}
span{
    color: green;
}
#temoie{
    background-image: url(img/2.PNG);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 1px;
}

.temoignages  h5,  p {
    text-align: center;
    color:white;
    
}
.temoignages{
           display: flex;
           align-items: center;
           justify-content: center;
           gap: 10px;
           padding: 10px;
}

.temoignages div{
            width: 200px; 
            padding: 5px;
            display: flex;
            flex-direction: column; 
            justify-content:center;
            align-items: center;  
            border-radius: 5px;
            background-color: rgb(26, 177, 57);      
}
h2 , p{
    text-align: center;
    color: black;
}
.section4{
       display: flex;
       justify-content: space-around;
         background-color: gainsboro;
         padding: 80px;
      
}
.section4 div{
    margin-left: 100px;
    display: flex;
    flex-direction: column; 
    gap: 50px;
    align-items: center;
    justify-content: space-around;
  
}
.email{
    padding: 70px;
    background-color: black;
}
.email div{
    
    
    display: flex;
      align-items: center;
      justify-content: center;
     
}
.email input{
    width: 400px;
    padding: 5px;
}
.email button{
    width: 100px ;
    padding: 8px;
   background-color: green;
   border: none;
   color: white;
   border-radius: 15px;
   cursor: pointer;
}
#services{
    padding: 15px;
    background-color: gainsboro;
}
.srvic{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
     padding: 10px;
}
.srvic div{
    width: 200px; 
    padding: 5px;
    display: flex;
    flex-direction: column; 
    justify-content:center;
    align-items: center;  
    border-radius: 5px;
    background-color: white;
   
}
.srvic div , h5{
   color: green;
}
.contact{
    padding: 15px;
    background-image:url(img/Actualite/16_1_small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact div{
    display: flex;
      align-items: center;
      justify-content: center; 
}
.contact input{
    width: 400px;
    padding: 5px;
}
.contact button{
    width: 100px ;
    padding: 8px;
   background-color: green;
   border: none;
   color: white;
   border-radius: 15px;
   cursor: pointer;
}
.contact h4{
    color: white;
}
.contact p{
    color: white;
}
.contact h3{
    color: white;
}
#footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
#footer div{
         width: 200px; 
         gap: 0;
         padding: 5px;
         display: flex;
         flex-direction: column; 
         justify-content:center;
         align-items:center; 
         justify-content: space-between;   
      
}
#date{
    margin: 0;
    padding-bottom: 2px;
    background-color: white;
    color: black;
}
/* Partie responsive pour les ecrans */

@media  (max-width: 780px){
    .logo {
    width: 100px;
    }
    header{
        display: flex;
        flex-direction: row;
        width: 100px;
        /* padding: 10px; */
        box-shadow: 2px 1px 5px black;
        gap: 0px;
    }
}